/* This is an example of using Sass, otherwise plain CSS works too*/
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');


// colors

$elementblue: #747ba1;
$fontblue: #242a3a;
$accent-tan: #ffba77;
$sandy-tangerine: #e2854c;
$naturgreen: #2a5934;

$primary-background: radial-gradient(circle, ($elementblue) 0%, ($accent-tan) 100%);
$logo-font: 'Wire One', sans-serif;
;

body {
  background: $primary-background;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $fontblue;
  font-weight: 800;
  margin: 0;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  font-family: $logo-font;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  h1 {
    margin: 0;
  }
}

.dashboard {
  background-color: rgba($accent-tan, .5);
  padding: 1%;
  display: grid;
  grid-template-columns: 55% 44%;
  grid-row: 65% 30%;
  grid-gap: 1%;
  .dashboard-greeting {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }
  .dashboard-trips {
    padding: 2%;
    height: 300px;
    width: auto;
    background-color: lighten($elementblue, 10%);
    grid-area: 1 / 1 / 2 / 2;
  }
  .dashboard-request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: lighten($elementblue, 10%);
    grid-area: 1 / 2 / 2 / 2;
  }
  .dashboard-year-review {
    padding: 2%;
    background-color: lighten($elementblue, 10%);
    grid-area: 2 / 1 / 2 / 3;
  }
}